RewriteEngine On

# skip all files and directories from rewrite rules below
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^(\w+)/?$ index.php?page=$1 [L,QSA]
RewriteRule ^(\w+)/(\w+)/?$ index.php?page=$1&page=$2
RewriteRule ^(\w+)/(\w+)/(\w+)/?$ index.php?page=$1&page=$2&limit=$3 [L,QSA]